* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.site-wrapper {
  max-width: 1280px;
}

nav {
  min-height: 92px;
  max-width: 980px;
  margin: 0 auto;
  border-bottom: solid 2px white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo/logo-white.svg);
  background-repeat: no-repeat;
}
nav .links {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .links a {
  text-decoration: none;
  color: white;
  float: right;
  font-size: 15px;
  font-family: Gillsans;
}
nav .links .vertical-line {
  width: 1px;
  height: 20px;
  background-color: #79ADDC;
}

@media only screen and (max-width: 800px) {
  nav {
    flex-direction: column;
    padding-top: 20px;
  }
  .links {
    min-width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.nav-black {
  min-height: 92px;
  max-width: 980px;
  margin: 0 auto;
  border-bottom: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-black .logo-black {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo/logo-black.svg);
  background-repeat: no-repeat;
}
.nav-black .links-black {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-black .links-black a {
  text-decoration: none;
  color: black;
  float: right;
  font-size: 15px;
  font-family: Gillsans;
}
.nav-black .links-black .vertical-line {
  width: 1px;
  height: 20px;
  background-color: #79ADDC;
}

.home .hero {
  max-width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.home .hero .callout {
  width: 416px;
  min-height: 100px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.home .hero .callout h1 {
  margin-bottom: 26px;
  font-size: 60px;
  font-family: Proxima;
}
.home .hero .callout p {
  margin-bottom: 50px;
  font-size: 20px;
  font-family: GillsansIt;
}
.home .hero .callout span {
  background-color: #79ADDC;
  padding: 10px 25px;
  font-size: 15px;
  font-family: Gillsans;
}

nav {
  min-height: 92px;
  max-width: 980px;
  margin: 0 auto;
  border-bottom: solid 2px white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo/logo-white.svg);
  background-repeat: no-repeat;
}
nav .links {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .links a {
  text-decoration: none;
  color: white;
  float: right;
  font-size: 15px;
  font-family: Gillsans;
}
nav .links .vertical-line {
  width: 1px;
  height: 20px;
  background-color: #79ADDC;
}

@media only screen and (max-width: 800px) {
  nav {
    flex-direction: column;
    padding-top: 20px;
  }
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
}
.trip-card-holder {
  max-width: 818px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: -43px;
}
.trip-card-holder #trip-card {
  height: 304px;
  width: 236px;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  color: white;
}
.trip-card-holder #trip-card h1 {
  font-size: 60px;
  font-family: Proxima;
}
.trip-card-holder #trip-card p {
  font-size: 30px;
  font-family: Proxima;
}
.trip-card-holder #trip-card a {
  text-decoration: none;
  color: white;
  margin-top: 30px;
}
.trip-card-holder #trip-card a span {
  margin-top: 30px;
  background-color: #79ADDC;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 25px;
  font-family: Gillsans;
}

@media only screen and (max-width: 800px) {
  .trip-card-holder {
    flex-direction: column;
    align-items: center;
  }
  .trip-card-holder #trip-card {
    margin-bottom: 20px;
  }
}
.israel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../images/tour/tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.usa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../images/tour/tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.austrailia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../images/tour/tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-area {
  max-width: 818px;
  min-height: 304px;
  margin: 50px auto 0 auto;
  font-family: Gillsans;
}
.form-area h1 {
  font-family: Proxima;
  font-size: 60px;
  margin: 0 auto;
}
.form-area .form input {
  height: 58px;
  margin-left: 5px;
  border: solid #79ADDC 2px;
  margin-bottom: 20px;
}
.form-area .form .two-input {
  min-height: 58px;
  justify-content: space-between;
}
.form-area .form .two-input .left {
  width: 344px;
  margin-bottom: 20px;
}
.form-area .form .two-input .right {
  width: 453px;
}
.form-area .form .single-line-input-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}
.form-area .form .single-line-input-holder .large-input {
  width: 698px;
  position: relative;
}
.form-area .form .single-line-input-holder .icon {
  font-size: 24px;
  position: absolute;
  left: 20%;
}
.form-area .form .three-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.form-area .form .three-input input {
  height: 58px;
  max-width: 103px;
}
.form-area .form .message {
  margin-bottom: 37px;
}
.form-area .form .message input {
  width: 100%;
  height: 192px;
}
.form-area .form .submit-button {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #79ADDC;
  border-radius: 33px;
  margin-bottom: 100px;
}
.form-area .form .submit-button a {
  text-decoration: none;
  font-size: 15px;
  color: white;
}

@media only screen and (max-width: 800px) {
  .form-area {
    align-items: center;
    width: 400px;
  }
  .form-area .two-input input {
    width: 300px;
  }
  .form-area .two-input .right {
    width: 300px;
  }
}
footer .footer-holder {
  height: 100px;
  background-color: #79ADDC;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  font-family: Gillsans;
}
footer .footer-holder .footer-logo {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo/logo-white.svg);
  background-repeat: no-repeat;
}
footer .footer-holder .copyright {
  font-size: 12px;
  color: white;
}
footer .footer-holder .socials-holder {
  height: 22px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}
footer .footer-holder .socials-holder .socials {
  height: 100%;
  width: 22px;
}
footer .footer-holder .socials-holder .socials img {
  height: 100%;
  width: 100%;
}

.about-wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.about-section {
  padding-top: 100px;
}
.about-section h1 {
  font-size: 60px;
  font-family: Proxima;
  width: 150px;
  border-bottom: 2px solid black;
}
.about-section p {
  font-size: 16px;
  font-family: Gillsans;
  padding-top: 30px;
  margin-bottom: 100px;
}

#top h1 {
  font-size: 40px;
  font-family: Proxima;
  border-bottom: 2px solid black;
  width: 230px;
}
#top .client-container {
  max-width: 676px;
  height: 150px;
  display: flex;
  position: relative;
  margin-bottom: 37px;
}
#top .client-container .client-img {
  width: 260px;
  height: 150px;
  background-color: brown;
  background-image: url(../images/about-client-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#top .client-container .client-img img {
  height: 100%;
  width: 100%;
}
#top .client-container .client-text {
  max-width: 385px;
  height: 102px;
  margin-left: 21px;
  font-family: GillsansIt;
  font-size: 16px;
}
#top .client-container .client-name {
  height: 24px;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Proxima;
  font-size: 20px;
  color: #79ADDC;
}

#bottom .client-container {
  max-width: 676px;
  height: 150px;
  display: flex;
  position: relative;
  margin-bottom: 180px;
}
#bottom .client-container .client-img {
  width: 260px;
  height: 150px;
  background-image: url(../images/about-client-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#bottom .client-container .client-img img {
  height: 100%;
  width: 100%;
}
#bottom .client-container .client-text {
  max-width: 385px;
  height: 102px;
  margin-left: 21px;
  font-family: GillsansIt;
  font-size: 16px;
}
#bottom .client-container .client-name {
  max-height: 24px;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Proxima;
  font-size: 20px;
  color: #79ADDC;
}

@media only screen and (max-width: 800px) {
  .about-wrapper {
    margin: 50px;
  }
}
@media only screen and (max-width: 800px) {
  .nav-black {
    flex-direction: column;
    padding-top: 20px;
  }
  .nav-black .links-black {
    min-width: 400px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
.tours-hero {
  max-width: 981px;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tours-header.jpg);
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tours-hero h1 {
  font-size: 60px;
  font-family: Proxima;
  color: white;
}

@media only screen and (max-width: 800px) {
  .tours-hero {
    margin: 20px;
  }
}
.trip-card-holder-tours {
  max-width: 818px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 55px;
}
.trip-card-holder-tours #trip-card-tours {
  height: 304px;
  width: 236px;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  color: white;
}
.trip-card-holder-tours #trip-card-tours h1 {
  font-size: 60px;
  font-family: Proxima;
}
.trip-card-holder-tours #trip-card-tours p {
  font-size: 30px;
  font-family: Proxima;
}
.trip-card-holder-tours #trip-card-tours a {
  text-decoration: none;
  color: white;
  margin-top: 30px;
}
.trip-card-holder-tours #trip-card-tours a span {
  margin-top: 30px;
  background-color: #79ADDC;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 25px;
  font-family: Gillsans;
}

@media only screen and (max-width: 800px) {
  .trip-card-holder-tours {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }
  .trip-card-holder-tours #trip-card-tours {
    margin-bottom: 30px;
  }
}
.israel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../images/tour/tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.usa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../images/tour/tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.austrailia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../images/tour/tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.new-zealand {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../images/tour/tour-04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.france {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../images/tour/tour-05.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.egypt {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../images/tour/tour-06.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.japan {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../images/tour/tour-07.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.canada {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../images/tour/tour-08.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.uae {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../images/tour/tour-09.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tours-spacing {
  padding: 45px;
}

.tour-package-hero-isreal {
  max-width: 981px;
  height: 413px;
  margin-top: -50px;
  margin-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}
.tour-package-hero-isreal h2 {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 80px;
  font-family: Proxima;
  color: white;
}
.tour-package-hero-isreal .quote {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 30px;
  color: white;
  font-family: Proxima;
  margin: 5px;
}

.tour-package-image-holder {
  min-height: 347px;
  max-width: 981px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.tour-package-image-holder .tour-package-image {
  height: 347px;
  width: 298px;
}
.tour-package-image-holder #isreal-1 {
  background-image: url(../images/tour/tour-israel/israel-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #isreal-2 {
  background-image: url(../images/tour/tour-israel/israel-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #isreal-3 {
  background-image: url(../images/tour/tour-israel/israel-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .tour-package-image-holder {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .tour-package-image-holder #isreal-1 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #isreal-2 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #isreal-3 {
    margin-bottom: 30px;
  }
}
.book-button {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-button a {
  text-decoration: none;
  color: white;
}
.book-button a span {
  margin-top: 30px;
  background-color: #79ADDC;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 25px;
  font-family: Gillsans;
}

.tour-package-hero-usa {
  max-width: 981px;
  height: 413px;
  margin-top: -50px;
  margin-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}
.tour-package-hero-usa h2 {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 80px;
  font-family: Proxima;
  color: white;
}
.tour-package-hero-usa .quote {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 30px;
  color: white;
  font-family: Proxima;
  margin: 5px;
}

.tour-package-image-holder {
  min-height: 347px;
  max-width: 981px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.tour-package-image-holder .tour-package-image {
  height: 347px;
  width: 298px;
}
.tour-package-image-holder #usa-1 {
  background-image: url(../images/tour/tour-usa/usa-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #usa-2 {
  background-image: url(../images/tour/tour-usa/usa-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #usa-3 {
  background-image: url(../images/tour/tour-usa/usa-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .tour-package-image-holder {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .tour-package-image-holder #usa-1 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #usa-2 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #usa-3 {
    margin-bottom: 30px;
  }
}
.book-button {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-button a {
  text-decoration: none;
  color: white;
}
.book-button a span {
  margin-top: 30px;
  background-color: #79ADDC;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 25px;
  font-family: Gillsans;
}

.tour-package-hero-austrailia {
  max-width: 981px;
  height: 413px;
  margin-top: -50px;
  margin-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}
.tour-package-hero-austrailia h2 {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 80px;
  font-family: Proxima;
  color: white;
}
.tour-package-hero-austrailia .quote {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 30px;
  color: white;
  font-family: Proxima;
  margin: 5px;
}

.tour-package-image-holder {
  min-height: 347px;
  max-width: 981px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.tour-package-image-holder .tour-package-image {
  height: 347px;
  width: 298px;
}
.tour-package-image-holder #austrailia-1 {
  background-image: url(../images/tour/tour-aus/aus-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #austrailia-2 {
  background-image: url(../images/tour/tour-aus/aus-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #austrailia-3 {
  background-image: url(../images/tour/tour-aus/aus-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .tour-package-image-holder {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .tour-package-image-holder #austrailia-1 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #austrailia-2 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #austrailia-3 {
    margin-bottom: 30px;
  }
}
.book-button {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-button a {
  text-decoration: none;
  color: white;
}
.book-button a span {
  margin-top: 30px;
  background-color: #79ADDC;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 25px;
  font-family: Gillsans;
}

.tour-package-hero-nz {
  max-width: 981px;
  height: 413px;
  margin-top: -50px;
  margin-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}
.tour-package-hero-nz h2 {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 80px;
  font-family: Proxima;
  color: white;
}
.tour-package-hero-nz .quote {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 30px;
  color: white;
  font-family: Proxima;
  margin: 5px;
}

.tour-package-image-holder {
  min-height: 347px;
  max-width: 981px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.tour-package-image-holder .tour-package-image {
  height: 347px;
  width: 298px;
}
.tour-package-image-holder #nz-1 {
  background-image: url(../images/tour/tour-nz/nz-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #nz-2 {
  background-image: url(../images/tour/tour-nz/nz-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #nz-3 {
  background-image: url(../images/tour/tour-nz/nz-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .tour-package-image-holder {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .tour-package-image-holder #nz-1 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #nz-2 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #nz-3 {
    margin-bottom: 30px;
  }
}
.book-button {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-button a {
  text-decoration: none;
  color: white;
}
.book-button a span {
  margin-top: 30px;
  background-color: #79ADDC;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 25px;
  font-family: Gillsans;
}

.tour-package-hero-france {
  max-width: 981px;
  height: 413px;
  margin-top: -50px;
  margin-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-05.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}
.tour-package-hero-france h2 {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 80px;
  font-family: Proxima;
  color: white;
}
.tour-package-hero-france .quote {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 30px;
  color: white;
  font-family: Proxima;
  margin: 5px;
}

.tour-package-image-holder {
  min-height: 347px;
  max-width: 981px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.tour-package-image-holder .tour-package-image {
  height: 347px;
  width: 298px;
}
.tour-package-image-holder #france-1 {
  background-image: url(../images/tour/tour-france/france-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #france-2 {
  background-image: url(../images/tour/tour-france/france-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #france-3 {
  background-image: url(../images/tour/tour-france/france-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .tour-package-image-holder {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .tour-package-image-holder #france-1 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #france-2 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #france-3 {
    margin-bottom: 30px;
  }
}
.book-button {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-button a {
  text-decoration: none;
  color: white;
}
.book-button a span {
  margin-top: 30px;
  background-color: #79ADDC;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 25px;
  font-family: Gillsans;
}

.tour-package-hero-egypt {
  max-width: 981px;
  height: 413px;
  margin-top: -50px;
  margin-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-06.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}
.tour-package-hero-egypt h2 {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 80px;
  font-family: Proxima;
  color: white;
}
.tour-package-hero-egypt .quote {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 30px;
  color: white;
  font-family: Proxima;
  margin: 5px;
}

.tour-package-image-holder {
  min-height: 347px;
  max-width: 981px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.tour-package-image-holder .tour-package-image {
  height: 347px;
  width: 298px;
}
.tour-package-image-holder #egypt-1 {
  background-image: url(../images/tour/tour-egypt/egypt-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #egypt-2 {
  background-image: url(\../images/tour/tour-egypt/egypt-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #egypt-3 {
  background-image: url(../images/tour/tour-egypt/egypt-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .tour-package-image-holder {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .tour-package-image-holder #egypt-1 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #egypt-2 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #egypt-3 {
    margin-bottom: 30px;
  }
}
.book-button {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-button a {
  text-decoration: none;
  color: white;
}
.book-button a span {
  margin-top: 30px;
  background-color: #79ADDC;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 25px;
  font-family: Gillsans;
}

.tour-package-hero-japan {
  max-width: 981px;
  height: 413px;
  margin-top: -50px;
  margin-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-07.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}
.tour-package-hero-japan h2 {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 80px;
  font-family: Proxima;
  color: white;
}
.tour-package-hero-japan .quote {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 30px;
  color: white;
  font-family: Proxima;
  margin: 5px;
}

.tour-package-image-holder {
  min-height: 347px;
  max-width: 981px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.tour-package-image-holder .tour-package-image {
  height: 347px;
  width: 298px;
}
.tour-package-image-holder #japan-1 {
  background-image: url(../images/tour/tour-japan/japan-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #japan-2 {
  background-image: url(../images/tour/tour-japan/japan-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #japan-3 {
  background-image: url(../images/tour/tour-japan/japan-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .tour-package-image-holder {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .tour-package-image-holder #japan-1 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #japan-2 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #japan-3 {
    margin-bottom: 30px;
  }
}
.book-button {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-button a {
  text-decoration: none;
  color: white;
}
.book-button a span {
  margin-top: 30px;
  background-color: #79ADDC;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 25px;
  font-family: Gillsans;
}

.tour-package-hero-canada {
  max-width: 981px;
  height: 413px;
  margin-top: -50px;
  margin-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-08.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}
.tour-package-hero-canada h2 {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 80px;
  font-family: Proxima;
  color: white;
}
.tour-package-hero-canada .quote {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 30px;
  color: white;
  font-family: Proxima;
  margin: 5px;
}

.tour-package-image-holder {
  min-height: 347px;
  max-width: 981px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.tour-package-image-holder .tour-package-image {
  height: 347px;
  width: 298px;
}
.tour-package-image-holder #canada-1 {
  background-image: url(../images/tour/tour-canada/canada-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #canada-2 {
  background-image: url(../images/tour/tour-canada/canada-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #canada-3 {
  background-image: url(../images/tour/tour-canada/canada-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .tour-package-image-holder {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .tour-package-image-holder #canada-1 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #canada-2 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #canada-3 {
    margin-bottom: 30px;
  }
}
.book-button {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-button a {
  text-decoration: none;
  color: white;
}
.book-button a span {
  margin-top: 30px;
  background-color: #79ADDC;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 25px;
  font-family: Gillsans;
}

.tour-package-hero-uae {
  max-width: 981px;
  height: 413px;
  margin-top: -50px;
  margin-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-09.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}
.tour-package-hero-uae h2 {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 80px;
  font-family: Proxima;
  color: white;
}
.tour-package-hero-uae .quote {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 30px;
  color: white;
  font-family: Proxima;
  margin: 5px;
}

.tour-package-image-holder {
  min-height: 347px;
  max-width: 981px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.tour-package-image-holder .tour-package-image {
  height: 347px;
  width: 298px;
}
.tour-package-image-holder #uae-1 {
  background-image: url(../images/tour/tour-uae/uae-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #uae-2 {
  background-image: url(../images/tour/tour-uae/uae-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-package-image-holder #uae-3 {
  background-image: url(../images/tour/tour-uae/uae-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .tour-package-image-holder {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .tour-package-image-holder #uae-1 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #uae-2 {
    margin-bottom: 30px;
  }
  .tour-package-image-holder #uae-3 {
    margin-bottom: 30px;
  }
}
.book-button {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-button a {
  text-decoration: none;
  color: white;
}
.book-button a span {
  margin-top: 30px;
  background-color: #79ADDC;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 25px;
  font-family: Gillsans;
}

@font-face {
  font-family: Proxima;
  src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
@font-face {
  font-family: Gillsans;
  src: url(../fonts/Gill\ Sans.otf);
}
@font-face {
  font-family: GillsansIt;
  src: url(../fonts/Gill\ Sans\ Italic.otf);
}
@font-face {
  font-family: ProximaThin;
  src: url(../fonts/Proxima-Nova-Thin.otf);
}

/*# sourceMappingURL=styles.css.map */
