//site structure var
$site-width: 1280px;
$hero-height: 500px;

//site colors
$site-white: #fff;
$site-blue: #79ADDC;
$site-black: #000;

//button widths

//tour banners
$tour-banner-height: 304px;
$tour-banner-width: 236px;
